name: Build & Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET 10.0
      uses: actions/setup-dotnet@v1
      with: 
        dotnet-version: '10.0.x'
    - name: Test with .NET
      run: dotnet test smart-ass.slnx --configuration Release
